.containerClass{
  width:1400px;
  height:610px;
  border:1px solid black;
}
.firstNav{
 
  width:75px;
  height:610px;
  border:1px solid black;
  margin-top:5px;
  margin-top:-5px;
}
.mainSection{
  
  margin-left:80px;
  width:1260;
  height:605px;
  border:1px solid black;
  margin-top:-585px;
}