.containerClass{
  width:1350px;
  height:610px;
  border:1px solid black;
}
body{
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;
}
.firstNav{
  width:75px;
  height:610px;
  margin-top:-10px;
  background:#eaf1fb;
}
.toggleDiv{
  height:25px;
  width:25px;
  padding:10px;
  margin-left:10px;
  margin-top:10px;
  border-radius:50%;
}
.toggleDiv:hover{
  background-color:#c4c7c5;
}
.iconBox{  
  height:35px;
  width:30px;
  padding:10px;
  margin-left:10px;
  margin-top:20px;
  border-radius:50%;
}
.iconImg{
  height:15px
  width:15px;
}
.iconText{
  font-size:.75rem;
  line-height:16px;
  letter-spacing:normal;
  font-family:"Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  margin-left:3px;
}
.iconBox:hover{
  background-color:#d3e3fd;
}
.mainSection{  
  margin-left:77px;
  width:1270;
  height:610px;
  border:1px solid black;
  margin-top:-610px;
  background:#f8fafd;
}
.headerSection{
  width:1270px;
  height:55px;
  margin-top:5px;
}
.mainLogo{
  width:30px;
  height:25px;
  margin-left:20px;
  margin-top:7px;
}
.searchBar{
  background:white;
  height:45px;
  width:620px;
  border-radius:20px;
  margin-left:240px;
  margin-top:-20px;
  background:#e9eef6;
}
.activeSection{
  background:white;
  height:45px;
  border-radius:20px;
  margin-left:885px;
  margin-top:-45px;
  width:100px;
  background:#e9eef6;
}
.iconHeader1{
  height:30px;
  width:30px;
  background:transparent;
  margin-left:1000px;
  margin-top:-35px;
}
.iconHeader2{
  height:30px;
  width:30px;
  background:transparent;
  margin-left:1045px;
  margin-top:-30px;
}
.iconHeader3{
  height:30px;
  width:30px;
  background:transparent;
  margin-left:1090px;
  margin-top:-32px;
}
.headerButton{
  background:white;
  height:45px;
  border-radius:7px;
  margin-left:1135px;
  margin-top:-40px;
  width:125px;
  border:1px solid black;
}
.techLogo{
  height:35px;
  width:80px;
  background:white;
  margin-top:2px;
  margin-left:2px;
}
.logoIcon{
  border-radius:50%;
  height:30px;
  width:30px;
  margin-left:45px;
  margin-top:-14px;
}
.secondNav{
  width:220px;
  height:545px;
}
.composeButton{
  width:145px;
  height:55px;
  background:#c2e7ff;
  border-radius:20px;
  margin-left:10px;
  margin-top:5px;
  text-decoration:none;
  color:black;
}
.composeImg{
  height:30px;
  width:30px;
  background:transparent;
  margin-left:5px;
  padding-top:5px;
}
.composeText{
  text-decoration:none;
  margin-left:43px;
  margin-top:-15px;
  font-size:15px;
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}
.secondnavBox{
  height:30px;
  width:220px;
  border-radius:20px;
  margin-top:22px;
  margin-left:10px;
  background:transparent;
  border:1px solid black;
  text-decoration:none;
}
.secondnavBox1{
  height:30px;
  width:220px;
  border-radius:20px;
  margin-left:10px;
  background:transparent;
  border:1px solid black;
  text-decoration:none;
}
.secondnavBox,secondnavBox1:hover{
  background-color:#d3e3fd;
}
.secnavimg{
  height:20px;
  width:20px;
  background:transparent;
  margin-top:3px;
  margin-left:10px;
}
.secnavicon{
  height:20px;
  width:20px;
  background:transparent;
  margin-top:3px;
  margin-left:20px;
}
.secnavText{
  margin-left:60px;
  margin-top:-15px;
  font-size:15px;
}
.mainContent{
  height:545px;
  width:960px;
  border:1px solid black;
  background:white;
  border-radius:8px;
  margin-left:240px;
  margin-top:-542px;
}
.lastNav{
  height:545px;
  width:70px;
  margin-left:1200px;
  border:1px solid black;
  margin-top:-545px;
  background:#eaf1fb;
}